{
    BasedOnStyle: LLVM,
    UseTab: Never,
    IndentWidth: 4,
    TabWidth: 4,
    AllowShortIfStatementsOnASingleLine: true,
    IndentCaseLabels: true,
    ColumnLimit: 0,
    AccessModifierOffset: -4,
}
